@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: #D4AF37; /* Gold */
  --color-primary-foreground: #000000;
  
  --color-secondary: #2C2C2C; /* Charcoal */
  --color-secondary-foreground: #FFFFFF;
  
  --color-accent: #8B4513; /* Wood */
  --color-accent-foreground: #FFFFFF;

  --font-sans: var(--font-outfit);
  --font-serif: var(--font-playfair);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
